*{
    margin: 0;
    padding: 0;
}
/*
Main things 
*/
:root{
    --primary-color: #2361DD;
    --secondary-color: #253238;
    font-family: montserrat, sans-serif;
}
body{
    background-color: var(--primary-color);
}
/*
Heading
*/
.header{
    width: 100%;
    position: fixed;
    background-color: var(--primary-color);
    color: white;
    z-index: 10;
}
nav.desktop-nav{
    padding: 30px 150px 30px 0;
    display:flex;
    gap: 60px;
    justify-content: center;
}
.nav-left, .nav-right{
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    width: 442px;
}
/*
Wrapper
*/
.wrapper{
    padding-top: 79px;
    height: 100%;
    position: relative;
}
/*
Section main
*/
section.main{
    background-color: white;
    border-radius: 60px 60px 0 0;
    z-index: 1;
    padding-bottom: 400px;
    position: sticky;
    top: 79px;
}
.main-container{
    margin: auto;
    padding: 50px 0;
    max-width: 1100px;
}
h1.main-heading{
    text-align: center;
    font-size: 4rem;
    color: var(--secondary-color);
    margin: 50px 0 50px 0;
}
h2.main-sub-heading{
    text-align: center;
    padding: 60px 0 20px 0;
    font-size: 1.5rem;
    font-weight: 500;
}
a.main-highlight{
    color: var(--primary-color);
    text-decoration: none;
}
a.main-highlight:hover{
    color: var(--secondary-color)
}
/*
Section What We Do wwd
*/
section.wwd{
    width: 100%;
    height: 1200px;
    background-color: #f1f1f1;
    position: sticky;
    top: 79px;
    z-index: 1;
    border-top: 3px solid var(--secondary-color);
    border-radius: 60px 60px 0 0;
    margin-top: -80px
}